@font-face {
  font-family: "问藏书房";
  src: url("../../问藏书房.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "问藏书房";
}
body {
  font-size: 16px;
  font-family: "问藏书房";
  transform: scale(1.2);
  transform-origin: 0 0;
  color: #f5f6f7;
}

.container {
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: #eff2f5;
  --bs-card-inner-border-radius: calc(0.625rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: transparent;
  --bs-card-bg: #ffffff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: auto;
  height: auto;
  word-wrap: break-word;
  background-color: #1e1e2d;
  background-clip: border-box;
  border: 0;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
}

.container .card-header {
  display: flex;
  align-items: center;
  margin: .5rem;
  margin-left: 20px;
  align-items: flex-start!important;
  flex-direction: column!important;
  justify-content: center;
}

.container .card-header .title {
  font-weight: 600!important;
  font-size: 2rem;
  color: #FFFFFF!important;
  margin: 0 .75rem 0 0;
  flex-wrap: wrap;
  letter-spacing: 3px;
}

.container .card-header .time {
  font-weight: 500!important;
  font-size: 1.075rem;
  color: #565674!important;
  padding-top: .5rem!important;
}

.container .card-body {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 1rem;
  /* color: var(--bs-card-color); */
}

.container .card-body .card {
  margin-bottom: 20px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-color: transparent;
  border-radius: 3px;
  overflow: hidden;
}

.container .card-body .card img {
  width: 90px;
  height: 90px;
  vertical-align: 0;
  float: left;
  border-radius: 3px;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container .card-body .card span {
  top: 0px;
  right: 0px;
  width: 60px;
  height: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  color: #f0e0b9;
  line-height: 22px;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  text-shadow: rgba(240,225,185,0.8) 0px 0px 19px;
}

.bg5 {
  background-image: url(../../../../genshin/resources/img/other/bg5.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg4 {
  background-image: url(../../../../genshin/resources/img/other/bg4.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
